<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'users' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Private Chat
      </h4>

      <hr/>

      <p>
        You can select a user to start private chat from the sidebar.
      </p>
    </div>
  </div>
</div>